body {
    font-family: Jua, sans-serif;
    width: 380px;
    margin: auto;
}
.title {
    text-align: center;
    margin-top: 20px;
    font-family: Jua, sans-serif;
}
.list{
    width: 49%;
    border-radius: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: start;
}

.list-parent {
    width: 100%;
}

img {
    height: 200px;
}
/* class 안에 class 정의방법 알아보기 */

.list-parent {
    
    text-align: center;
    margin-top: 100px;
}