body {
    font-family: Jua, sans-serif;
}
.title {
    text-align: center;
    margin-top: 20px;
    font-family: Jua, sans-serif;
}
.list{
    width: 156px;
    border: 3px solid;
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
    text-align: start;
    height: px;
}

.Suggestion {
    text-align: left;
    margin: 10px;
    margin-top: 50px;
} 
.discount{
    color: red;
}
img{
    height: 175px;
}